{% extends "../../../template/template.twig" %}

{% block page %}

    <div class="cmp-seccion1">
        <div class="contenido-seccion1">
            <h2>Cambiar o reparar</h2>

            <div class="info-seccion1">
                <h4>Calidad y profesionalidad</h4>
                <p>La excelente formación y experiencia de nuestros técnicos avalan todos nuestros trabajos</p>
            </div>

            <div class="info-seccion1">
                <h4>Con tu compañía aseguradora</h4>
                <p>Tenemos acuerdos con todas las compañias. Una llamada, una solución.</p>
            </div>

            <div class="info-seccion1">
                <h4>Cualquier marca, modelo o antigüedad</h4>
                <p>Contamos con el stock de lunas más amplio del sector</p>
            </div>

            <div class="pedir-cita">
                <a href="#">PIDE CITA >></a>
            </div>
        </div>
    </div>
{% endblock %}