{% extends "../../../template/template.twig" %}

{% block page %}

    <header class="cmp-header">

        <div class="header-movil"> 

            <img class="menu-hamburguesa"src="../../../assets/img/menu.svg">

            <img class="logo-movil" src="../../../assets/img/carglass.svg">

            <div class="iconos-contactos-movil">
                <img src="../../../assets/img/whatsapp.svg">

                <img src="../../../assets/img/phone.svg">
            </div>

        </div>

        <div class="header-escritorio">

            <img class="logo-escritorio" src="../../../assets/img/carglass.svg">

            <div class="contactos">
                <div class="contactos-info">
                    <img src="../../../assets/img/whatsapp.svg">
                    <span>Whatsapp 609 061 847</span>
                </div>

                <div class="contactos-info">
                    <img class="telefono" src="../../../assets/img/phone.svg">
                    <span>Teléfono &nbsp 902 107 343</span>
                </div>
            </div>
    
        </div>

        
        <nav class="barra-navegacion">

            <a href="#">PIDE CITA</a>
            <a href="#">REPARACIÓN Y <br> SUSTITUCIÓN DE LUNAS</a>
            <a href="#">PRODUCTOS CARGLASS</a>
            <a href="#">CENTROS CARGLASS</a>
            <a href="#">SOBRE CARGLASS</a>
            <a href="../../pages/Contacto/contacta.html">CONTACTO</a>

        </nav>

    </header>

{% endblock %}