{% extends "../../../template/template.twig" %}

{% block page %}

    <div class="cmp-seccionvideo">

        <div class="contenido-seccionvideo">

            <h4>¿Por qué elegir Carglass?</h4>

            <video width="739" height="438" controls>

            <source src="../../../assets/video/video1.mp4" type="video/mp4">

            </video>

        </div>

        <div class="info-seccionvideo">

            <h4>Los expertos</h4>

            <div class="contenido-info">
                <h5 class="seccionvideo-subtitulos">Nullam at purus ut dolor volutpat tincidunt.</h5>
                <span>A pellentesque ullamcorper. In ut metus pellentesque libero lacinia vestibulum. Nullam at purus ut dolor volutpat tincidunt.<br><br>Nullam at purus ut dolor volutpat tincidunt. Aliquam venenatis eros a leo pharetra ultrices. Vivamus a purus et odio interdum lacinia. Pellentesque laoreet turpis eu augue aliquam euismod.</span>
            </div>


            <div class="contenido-info">    
                <h5 class="seccionvideo-subtitulos">Nullam at purus ut dolor volutpat tincidunt.</h5>

                <ul>
                    <li>A pellentesque ullamcorper. In ut metus pellentesque libero lacinia vestibulum.</li>
                    <li>Nullam at purus ut dolor volutpat tincidunt.</li>
                    <li>Nullam at purus ut dolor volutpat tincidunt. Aliquam venenatis eros a leo pharetra ultrices.</li>
                    <li>Vivamus a purus et odio interdum lacinia.</li>
                    <li>Pellentesque laoreet turpis eu augue aliquam euismod.</li>
                </ul>
            </div>
        </div>

    </div>


{% endblock %}