{% extends "../../../template/template.twig" %}

{% block page %}

    <div class="cmp-seccion2">

        <span class="seccion2-titulo">¿Necesitas reparar o sustituir tu luna?</span>

        <span class="seccion2-info">Nos ocupamos de todas las gestiones con tu compañía de seguros</span>

        <div class="pedir-cita">
            <a href="#">PIDE CITA >></a>
        </div>

    </div>

{% endblock %}
