{% extends "../../../template/template.twig" %}

{% block page %}

    <footer class="cmp-footer">
    <div class="mainfooter"> <!--div footer negro>-->
        
        <div class ="logos">

            <img src="../../../assets/img/logo.svg ">

            <div class="footer-redes">
                <img src="../../../assets/img/facebook.svg ">
                <img src="../../../assets/img/twitter.svg ">
                <img src="../../../assets/img/youtube.svg ">
                <img src="../../../assets/img/instagram.svg ">
            </div>

        </div>

        <div class="listas"><!--Div con la lista-->
            <div class="lista">
            <h4>Sobre carglass</h4>
                <ul>
                    <li>Equipo</li>
                    <li>Calidad y garantía</li>
                    <li>Blog</li>
                    <li>Trabaja con nosotros</li>
                </ul>
            </div>

            <div class="lista">
            <h4>Productos carglass</h4>
                <ul>
                    <li>Laminado de lunas</li>
                    <li>Escobillas</li>
                    <li>Tratamiento antilluvia y antimosquitos</li>
                </ul>
            </div>

            <div class="lista">
            <h4>Contacto</h4>
                <ul>
                    <li>Centro Carglass</li>
                    <li>Preguntas frecuentes</li>
                    <li>Valoración clientes</li>
                </ul>
            </div>


        </div>
        
    </div>

    <div class="footerconditions"><!--div con la politica de priv etc-->
        <span class="desktop">Política de privacidad | Condiciones de uso del sitio | Mapa Web | Política de cookies | Condiciones promoción escobillas 2018</span>
         <pre class="mobile">
         Política de privacidad 
         Condiciones de uso del sitio 
         Mapa Web
         Política de cookies
         Condiciones promoción escobillas 2018</pre>
    </div>

    </footer>


{% endblock %}