@import "../../../_scss/variables/colors";
@import "../../../_scss/utilities/fonts";

.cmp-footer{
    .mainfooter{
        display: flex;
        flex-direction: row;
        background-color: map-get($colors, black );
        width: 100%;
        height: auto;
        color:map-get($colors, white );

        .logos{
            // background-color: aqua;
            padding: 10px;
            margin-top: 50px;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            width: 300px;
            img{
                width:157px ;
                height:42px ;
                filter: grayscale(1);
            }

            .footer-redes{
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                img{
                    margin-right: 50px;
                    width: 29px;
                    height: 25px;
                    filter: invert(1);
                }
            }
        }

        .listas{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 70px;
            margin-right: 15px;
            justify-content: space-between;
            .lista{
                width: 25%;
                overflow: hidden;
                h4{
                    margin-bottom: 10px;
                    font-family:OpenSans-Semibold;
                }
                li{
                    font-family:OpenSans;
                    margin-bottom: 10px;
                    font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
                }
            }
        }

       
    }
    .footerconditions{
       
        margin-top: 10px;
        margin-left: 50px;
        font-size: 18px;
        color: #4a4a4a;
        .mobile{
            text-align: center;
            display: none;
        }
        .desktop{
            display: block;
        }
      
    }

    @media screen and (max-width: 960px) {
        .mainfooter{
            display: flex;
            flex-direction: column;
            height: auto;
            .logos{
                margin-left: 60px;
            }
        }
        .footerconditions{
            margin-top: 10px;
            margin-left: -10px;
            font-size: 14px;
           
            color: #4a4a4a;
            .mobile{
                text-align: center;
                display: block;
            }
            .desktop{
                display: none;
            }
        }

    }
    @media screen and (max-width: 374px) {
        .mainfooter{
            display: flex;
            flex-direction: column;
            height: auto;
            .logos{
                margin-left: 50px;
                img{
                    margin-left: 50px;
                }
                .footer-redes{
                    justify-content: flex-start;
                    margin-right: 0;
                    margin-top: 27px;
                    img{
                        width: 21px;
                        height: 24px;
                        margin-left: 0;
                    }
                }
            }
            .listas{
                margin-left: 30px;
                margin-top: 10px;
                flex-direction: column;
                .lista{
                    margin-top: 15px;
                    width: 50%;
                h4{
                    font-size: 14px;
                }
                ul{
                    margin-bottom: 10px;
                    li{
                        font-size: 12px;
                    }
                }
            }
            }
             
        }
        .footerconditions{
            margin-top: 10px;
            margin-left: -10px;
            font-size: 14px;
           
            color: #4a4a4a;
            .mobile{
                text-align: center;
                display: block;
            }
            .desktop{
                display: none;
            }
        }

    }
}



