{% extends "../../../template/template.twig" %}

{% block page %}
<div class="cmp-cards">
    <div class="cards"> <!--contenedor de las tarjetas-->

        <div id="card1" class="card">
            <img src="../../../assets/img/car.svg ">
        </div>

        <div id="card2" class="card">
             <img src="../../../assets/img/star.svg ">
        </div>

        <div id="card3" class="card">
             <img src="../../../assets/img/map.svg ">
        </div>

        <div id="card4" class="card">

        </div>
    </div>
</div>



{% endblock %}