{% extends "../../../template/template.twig" %}

{% block page %}
    
    <div class="cmp-accordionContacta">
        <div class="accordion">
            <!--Contenedor del accordion-->

            <div class="desplegable">
                <!--Contenedor de una seccion del accordion-->
                <input type="checkbox" name="rad" id="check1" class="check">
                <label for="check1" class="contenido-superior">
                <div class="icono-imagen">
                    <img class="icon-seccion" src="https://cdn-icons-png.flaticon.com/512/2165/2165061.png">
                </div>
                <div class="texto-desplegable">
                    <h4>CONTACTA CON NOSOTROS</h4>
                    <span>Tu opinión es crítica para mejorar nuestros servicios. Si tienes comentarios o preguntas acerca de Carglass® o sobre cualquier aspecto de nuestros servicios, campañas publicitarias o web, nos encantaría saberlo.</span>
                </div>
                <div class="icono-flecha">
                    <img class="icon-arrow" src="../../../assets/img/chevron-down.svg">
                </div>
                </label>

                <div class="contenido">
                    <!--Contenedor del texto-->

                    <div class="vacio"></div>

                    <div class="contenedor-datos">
                        <div class="seccion-datos">
                            <span>Nombre</span>
                            <div class="input-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png">
                                <input type="text">
                            </div>
                        </div>

                        <div class="seccion-datos">
                            <span>Email</span>
                            <div class="input-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/725/725643.png">
                                <input type="text">
                            </div>
                        </div>

                        <div class="seccion-datos">
                            <span>Telefono</span>
                            <div class="input-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/633/633544.png">
                                <input type="text">
                            </div>
                        </div>

                        <div class="seccion-mensaje">
                            <span>Mensaje</span>
                            <div class="textarea-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/2462/2462844.png">
                                <textarea class="txtarea-no-resize"></textarea>
                            </div>
                        </div>

                        <div class="seccion-inferior">
                            <span class="acuerdo">Los datos personales que Ud. nos aporte serán únicamente tratados según el motivo de su mensaje.<br><br>Para seguir debe Ud. cumplimentar la siguiente casilla:</span>

                            <div class="politica-privacidad">
                                <input type="checkbox" id="politica">
                                <label for="politica" class="privacidad"><span>He leido y acepto la <a href="#">Política de privacidad</a> </span></label>
                            </div>

                            <div class="enviar">
                                <a href="#">ENVIAR</a>
                            </div>
                        </div>

                    </div>

                    <div class="vacio"></div>

                </div>

            </div>

            <div class="desplegable">
                <!--Contenedor de una seccion del accordion-->
                <input type="checkbox" name="rad" id="check2" class="check">
                <label for="check2" class="contenido-superior">
                <div class="icono-imagen">
                    <img class="icon-seccion" src="https://cdn-icons-png.flaticon.com/512/4838/4838904.png">
                </div>
                <div class="texto-desplegable">
                    <h4>QUEJAS Y SUGERENCIAS</h4>
                    <span>¿Algo no ha ido de la forma esperada? En Carglass siempre deberías recibir el mejor servicio y trato y nos esforzamos por ello pero, a veces, hay momentos en que las cosas van mal. Si tienes una queja, la tomaremos en serio, trabajaremos para resolver el problema y haremos todo lo posible para realizar las mejoras necesarias en nuestras políticas, procesos y procedimientos. Dinos lo que ha pasado y nos pondremos en contacto contigo.</span>
                </div>
                <div class="icono-flecha">
                    <img class="icon-arrow" src="../../../assets/img/chevron-down.svg">
                </div>
                </label>

                <div class="contenido">
                    <!--Contenedor del texto-->

                    <div class="vacio"></div>

                    <div class="contenedor-datos">
                        <div class="seccion-datos">
                            <span>Nombre</span>
                            <div class="input-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png">
                                <input type="text">
                            </div>
                        </div>

                        <div class="seccion-datos">
                            <span>Email</span>
                            <div class="input-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/725/725643.png">
                                <input type="text">
                            </div>
                        </div>

                        <div class="seccion-datos">
                            <span>Telefono</span>
                            <div class="input-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/633/633544.png">
                                <input type="text">
                            </div>
                        </div>

                        <div class="seccion-mensaje">
                            <span>Mensaje</span>
                            <div class="textarea-imagen">
                                <img src="https://cdn-icons-png.flaticon.com/512/2462/2462844.png">
                                <textarea class="txtarea-no-resize"></textarea>
                            </div>
                        </div>

                        <div class="seccion-inferior">
                            <span class="acuerdo">Los datos personales que Ud. nos aporte serán únicamente tratados según el motivo de su mensaje.<br>Para seguir debe Ud. cumplimentar la siguiente casilla:</span>

                            <div class="politica-privacidad">
                                <input type="checkbox" id="politica2">
                                <label for="politica2" class="privacidad">He leido y acepto la &nbsp<a href="#">Política de privacidad</a></label>
                            </div>

                            <div class="enviar">
                                <a href="#">ENVIAR</a>
                            </div>

                            <div class="queja">
                                <h4>¿Qué pasará con su queja?</h4>
                                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in <br> culpa qui officia deserunt mollit anim id est laborum."</span>
                                <ul>
                                    <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</li>
                                    <li>Suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</li>
                                    <li>Lorem fistrum dolor comorrr sit cobbarder</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="vacio"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}