{% extends "../../../template/template.twig" %}

{% block page %}

<div class="cmp-cardtabs"> 
    <div class="mainContainer">

        <div class="tabs">

                <div class="tab active" id="tab1" onclick="showTab1()">
                    <div class="round-container">
                        <img src="../../../assets/img/card-checklist.svg" >
                    </div>

                    <p>Tu cita en Carglass</p>
                </div>
            
                <div class="tab" id="tab2" onclick="showTab2()"> 
                    <div class="round-container">
                        <img src="../../../assets/img/lightbulb.svg" >
                    </div>
                    <p>Nuestros productos</p>
                </div>
            
                <div class="tab" id="tab3" onclick="showTab3()"> 
                    <div class="round-container">
                        <img src="../../../assets/img/redcar.svg" >
                    </div>
                    <p>Calidad de nuestros 
                        cristales</p>
                </div>


            <div class="tab" id="tab4" onclick="showTab4()"> 
                <div class="round-container">
                    <img src="../../../assets/img/chat.svg" >
                </div>
                <p>¿NECESITAS HABLAR 
                    CON NOSOTROS?</p>
            </div>
        </div>      
        
        <div class="contents">
            <div class="content active" id="ctnt-1" >
                <div class="content-info">
                    <div class="info-text">
                        <h4>¿Qué documentación debo presentar en mi cita con Carglass®?</h4>
                        <p>Si tienes cobertura de lunas, no te olvides tener a mano la documentación de tu vehículo, así como la de tu seguro, para agilizar el trámite administrativo.</p>
                    </div>
                
                </div>

                <div class="content-info">
                    <div class="info-text">
                        <h4>He reservado una cita online pero aún no me han llamado. ¿Qué debo hacer?</h4>
                        <p>Únicamente te llamaremos si hay algún problema con tu cita. Si tú necesitas contactar con nosotros para modificar la cita o cualquier otro tema puedes llamarnos al 902 102 582.</p>
                    </div>
                </div>

            </div>

            <div class="content" id="ctnt-2" >
                <div class="content-info ctnt-2">
                    <img src="../../../assets/img/antilluvia.jpg">
                    <div class="info-text ctnt-2">
                        <h3>TRATAMIENTO ANTILLUVIA Y ANTIMOSQUITOS</h3>
                        <h4>He reservado una cita online pero aún no me han llamado. ¿Qué debo hacer?</h4>
                        <p>Únicamente te llamaremos si hay algún problema con tu cita. Si tú necesitas contactar con nosotros para modificar la cita o cualquier otro tema puedes llamarnos al 902 102 582.</p>
                        <a href="">Más Información</a>
                    </div>
                </div>

                <div class="content-info ctnt-2">
                    <img src="../../../assets/img/laminado.jpg">
                    <div class="info-text ctnt-2">
                        <h3>LAMINADO DE LUNAS</h3>
                        <h4>¿En qué consiste el tintado de lunas del coche?</h4>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <a href="">Más Información</a>
                    </div>
                </div>
            

                <div class="content-info ctnt-2">
                    <img src="../../../assets/img/escobillas.jpg">
                    <div class="info-text ctnt-2">
                        <h3>ESCOBILLAS</h3>
                        <h4>Cuándo y porqué se tienen que cambiar las escobillas del coche</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="">Más Información</a>
                    </div>
                </div>
            </div>

            <div class="content" id="ctnt-3" >
            
                <div class="content-info ctnt-2">
                    <img src="../../../assets/img/calidad.jpg">
                    <div class="info-text ctnt-2">
                        <h4>¿Porqué Carglass® utiliza cristal sin logos?</h4>
                        <p>Todos nuestros cristales están homologados. Trabajamos con los mismos fabricantes de cristal que a su vez proveen a primeras marcas automovilisticas pero no estamos autorizados a utilizar el logo identificativo de cualquier marca de vehículo.</p>
                    
                        <h4>¿Porqué Carglass® utiliza cristal sin logos?</h4>
                        <p>Todos nuestros cristales están homologados. Trabajamos con los mismos fabricantes de cristal que a su vez proveen a primeras marcas automovilisticas pero no estamos autorizados a utilizar el logo identificativo de cualquier marca de vehículo.</p>
                    </div>
                </div>

                <div class="content-info ctnt-2">
                    <video width="100%" height="auto" controls>

                        <source src="../../../assets/video/video1.mp4" type="video/mp4">

                    </video>
                </div>

            </div>


            <div class="content" id="ctnt-4" >
            
                <div class="content-info ctnt-2">
                    <div class="round-container">
                        <img src="../../../assets/img/card-checklist.svg" >
                    </div>

                    <div class="info-text ctnt-2">
                        <h4>¿Porqué Carglass® utiliza cristal sin logos?</h4>
                        <p>Todos nuestros cristales están homologados. Trabajamos con los mismos fabricantes de cristal que a su vez proveen a primeras marcas automovilisticas pero no estamos autorizados a utilizar el logo identificativo de cualquier marca de vehículo.</p>
                
                        <div class="info-form">
                            <div class="component-form">
                                <label for="name">Nombre</label>
                                <input  type="text">
                            </div>

                            <div class="component-form">
                                <label for="name">Nombre</label>
                                <input  type="text">
                                <p>Con prefijo sabe, que le ponga +34</p>
                            </div>

                            <div class="component-form">
                                <button>LLÁMAME</button>
                            </div>

                            
                        </div>
                    </div>
                </div>

                <div class="content-info ctnt-4">
                

                    <div class="cardContact">
                        <img src="../../../assets/img/ContactPhone.svg" >
                        <div class="cardContent">
                            <h3>Llama e informate</h3>
                            <h2>958 64 3265</h2>
                        </div>
                    </div>


                  <div class="cardContact">
                        <img src="../../../assets/img/orangeWhatsapp.svg" >
                        <div class="cardContent">
                            <h3>Por Whatsapp</h3>
                            <h2>958 64 3265</h2>
                        </div>
                    </div>


                    <div class="cardContact">
                        <img src="../../../assets/img/orange-chat.svg" >
                        <div class="cardContent">
                            <h3>Chatea con nosotros</h3>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="contactotabs.js"></script>
<script src="../../../assets/js/jquery.min.js"></script>


{% endblock %}